.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 9999;
}

.fs-1 {
  color: #44484e;
  padding: 20px;
}

.fs-1:hover {
  color: #da8442;
}
