.text-center {
  min-height: 100vh;
}

.title1 {
  position: absolute;
  top: 33%;
  left: 47%;
  transform: translate(-50%, -50%) skewY(-10deg);
  color: #da8442;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.title2 {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%) skewY(-10deg);
  color: #da8442;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.quote {
  position: absolute;
  top: 84%;
  left: 71%;
  transform: translate(-50%, -50%);
  color: black;
  font-style: italic;
  font-size: 1rem;
  font-family: Century school;
}

.author {
  position: absolute;
  top: 142%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 0.8rem;
  font-family: Century school;
  width: 100vw;
  height: 100vh;
}

/* Slide in */
.home-container {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100vh;
  transition: right 1s ease;
}

.slide-in {
  right: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .title1,
  .title2 {
    font-size: 2rem;
  }

  .quote,
  .author {
    font-size: 0.8rem;
  }
}
