.components-bar a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 40px;
}
.column {
  padding-right: 0px;
}

.column2 {
  padding-left: 0px;
  padding-right: 0px;
}

.column2-hidden {
  padding-left: 0px;
  padding-right: 0px;
  width: 0px;
}

.components-bar a:hover {
  color: rgb(76, 74, 74);
}

.horizontal-menu {
  background-color: #da8442;
  width: 100%;
  margin-right: 1px;
  min-height: 100vh;
}

button {
  background-color: #e46d12;
  border: #e46d12;
  max-width: 5px;
  padding-right: 0px;
  margin-right: 0px;
  min-height: 100vh;
}

button:hover {
  background-color: #a44f0e;
}
