.header {
  background-color: #da8442;
}

.navbar-brand {
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.navbar-hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-brand:hover {
  color: #343a40b4;
}

.links {
  font-family: 'Courier New', Courier, monospace;
  transform: skewY(-2deg);

  color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.links:hover {
  border: 1px solid #343a40b4;
  color: white;
}

.icon {
  color: white;
}
.icon:hover {
  color: #343a40b4;
}

.contact {
  font-family: 'Courier New', Courier, monospace;
  transform: skewY(-2deg);
  color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1.5px solid white;
  border-radius: 0.15rem;
}

.contact:hover {
  border: 2px solid #343a40b4;
}

.gallery {
  background-color: #da8442;
}

.dropdown-menu {
  margin-top: 8px;
}

#navbarDropdown {
  background-color: #da8442;
  border: white;
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 0vh;
  margin-right: 0vh;
}
